.primary {
  color: #aa6d6b;
}

.brandDark {
  background-color: #151616;
}

.poppins {
  font-family: "Poppins";
}

.varela {
  font-family: "Varela Round";
}

/* Base (default) container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* sm breakpoint (640px) */
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* lg breakpoint (1024px) */
@media (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* xl breakpoint (1280px) */
@media (min-width: 1280px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* 2xl breakpoint (1536px) */
@media (min-width: 1536px) {
  .container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}
